---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer{
    background-color: lightseagreen;
}

.masthead{ background-color: lightseagreen;
color:white;
}

.site-title{
    color:white;
}

.greedy-nav{
    background:lightseagreen;
    color:white;
}

.greedy-nav a{
    background:lightseagreen;
    color:white;
}

.search_toggle{
    background:lightseagreen;
    color:white;
}

.page__content{
    font-size:0.8em;
}